<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.smslightcontrol"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".globalvariable">
        
        <activity android:name=".NewbostonActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.smslightcontrol.NEWBOSTONACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

	<activity android:name=".login" 
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


		<activity android:name=".Menu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.smslightcontrol.MENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

		<activity android:name=".room1"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.smslightcontrol.ROOM1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

	<activity android:name=".room2"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.smslightcontrol.ROOM2" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

	<activity android:name=".room3"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.smslightcontrol.ROOM3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

<activity android:name=".addconfig"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.smslightcontrol.ADDCONFIG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    <activity android:name=".status"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.smslightcontrol.STATUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    
    
    </application>
    
    
</manifest>